@import url('https://fonts.googleapis.com/css?family=Anton|Lobster');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Pacifico|Satisfy');

body {
    background-image: url("https://images7.alphacoders.com/450/450856.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px

}

h1 {
font-family: 'Anton', sans-serif;
color: antiquewhite;
}

ul {
    display: inline-flex;
}
a {
    color: antiquewhite;
    font-family: 'Fjalla One', sans-serif;
    
}



.month {
    padding-top: 50px;
    font-size: 50px
}

.blogcontainer {
    background-color: rosybrown;
    
}



.blogtitle {
    font-family: 'Anton', sans-serif;
color: saddlebrown;
    font-size: 23px;
        font-style:oblique
}

.blogpicture {
    padding: 10px 0px;
}

.blogdescription {
    color: saddlebrown;
    font-size: 15px;
    font-style: oblique;
}

.contactinfo {
    list-style: none;
        font-family: 'Anton', sans-serif;
color: antiquewhite;
    font-size: 23px;
        font-style: normal;
               padding: 100px
}

.contactlink {
    padding: 15px 0px;
    color: beige
}

.blog1title {
    padding: 20px 0px;
        color:white;
     font-family: 'Anton', sans-serif;
    font-size: 40px;
        font-style:normal
    ;
}

.blog1descripton {
    color: white;
    font-size: 20px;
    font-style: oblique;
    padding: 15px 0px;
    padding-top: 1px ;
}

.blog1picture {
    padding: 15px;
        
}

.blogcontent {
    color: white;
    padding: 20px
}

.mainblogcontainer {
    background-color:beige;
    padding: 10px
}

.blogcontainer2 {
    background-color:skyblue;
}

.blogtitle2 {
font-family: 'Anton', sans-serif;
    color:floralwhite;
    font-size: 20px;
    padding: 7px 0px;
}

.blogcontainer3 {
    background-color: lightblue
}

.sideblog {
    font-family: 'Anton', sans-serif;
    color:cornflowerblue;
    font-size: 18px;
    padding: 15px 0px;
    border-bottom: solid 3px cornflowerblue
    
}

.blogdescription2 {
    font-family: 'Anton', sans-serif;
    padding:15px 0px;
    font-size: 14px;
        color: floralwhite
}

.sideblogtitle {
    font-family: 'Anton', sans-serif;
    color:floralwhite;
    font-size: 14px;
    padding: 8px 0px
}

.recipetitle {
font-family: 'Anton', sans-serif;
    color:cornflowerblue;
    font-size: 28px;
    padding: 11px 0px;
    border-bottom: 3px solid cornflowerblue;
}

.blogphoto {
    padding: 6px 0px;
}

.blogphotos img {
    margin: 5px 0px;
}

.container {
    
}

.sidebar {
    background-color: lightsteelblue;
    padding: 10px;
            
}

.reviews {
    font-family: 'Anton', sans-serif;
    color:white;
    font-size: 30px;
    padding: 15px 0px;
    border-bottom: solid white; 
}

.recipereviews {
    font-family: 'Anton', sans-serif;
    color: white;
    padding: 12px 0px 
}

.recipead {
    padding-top: 8px;
    max-width: 400px;
    margin:auto
}

.hometitle {
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    color: cornflowerblue
}

.homedescription {
   font-family: 'Satisfy', cursive;
    font-size: 30px;
    color: cornflowerblue
}

.blogcontainer4 {
    background-image: url(http://sf.co.ua/15/03/wallpaper-1cbb1b.jpg);
}

.recipephoto {
    max-width: 400px;
    padding: 15px 0px
}

.hometitle2 {
    font-family: 'Pacifico', cursive;
    color: cornflowerblue;
    font-size: 40px;
}

.homesideblog {
    font-family:'Satisfy', cursive;
    padding: 20px;
    color: cornflowerblue;
    font-size: 30px;
 border-bottom: solid cornflowerblue 2px
